/* zachter zwart color: #244549; */
/* Antwerpen Regular - HOOFDTITELS */
@font-face {
  font-family: "Antwerpen";
  src: url("../lib/ionic/fonts/Antwerpen-Regular.eot?v=2.0.1");
  src: url("../lib/ionic/fonts/Antwerpen-Regular.eot?v=2.0.1#iefix") format("embedded-opentype"), url("../lib/ionic/fonts/Antwerpen-Regular.ttf?v=2.0.1") format("truetype"), url("../lib/ionic/fonts/Antwerpen-Regular.woff?v=2.0.1") format("woff"), url("../lib/ionic/fonts/Antwerpen-Regular.woff") format("woff"), url("../lib/ionic/fonts/Antwerpen-Regular?v=2.0.1#Ionicons") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Antwerpen SUN - INFORMATIE */
@font-face {
  font-family: "SunAntwerpen Regular";
  src: url("../lib/ionic/fonts/SunAntwerpen_500.eot?v=2.0.1");
  src: url("../lib/ionic/fonts/SunAntwerpen_500.eot?v=2.0.1#iefix") format("embedded-opentype"), url("../lib/ionic/fonts/SunAntwerpen_500.ttf?v=2.0.1") format("truetype"), url("../lib/ionic/fonts/SunAntwerpen_500.woff?v=2.0.1") format("woff"), url("../lib/ionic/fonts/SunAntwerpen_500.woff") format("woff"), url("../lib/ionic/fonts/SunAntwerpen_500?v=2.0.1#Ionicons") format("svg");
  font-weight: normal;
  font-style: normal;
}


@font-face {
    font-family: 'FontAwesome';
    src:url('../lib/ionic/fonts/fontawesome-webfont.eot');
    src:url('../lib/ionic/fonts/fontawesome-webfont.eot') format('embedded-opentype'),
        url('../lib/ionic/fonts/fontawesome-webfont.woff') format('woff'),
        url('../lib/ionic/fonts/fontawesome-webfont.ttf') format('truetype'),
        url('../lib/ionic/fonts/fontawesome-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}




.title {
    font-family: "Antwerpen" !important;
    text-transform: uppercase;
}
.navbuttons {
    font-family: "SunAntwerpen Regular" !important;
    text-transform: uppercase;
}
.navbuttons i, .navbuttons{
    color: #008C95;
}
h2 {
    font-family: "SunAntwerpen Regular" !important;
}
h3 {
    font-family: "SunAntwerpen Regular" !important;
    font-size: 2.5em !important;
}
body {
    font-family: "Arial" !important;

}

.slider-pager-page {
  color: grey !important;
}
.slider-pager-page.active {
  color:  #008C95 !important;
}

.title-center {
    color:  #008C95 !important;
}


body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}
.slider {
  height: 100%;
}
.slider-slide {
  padding-top: 80px;
  color: #000;
  background-color: #fff;
  text-align: center;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

#logo {
  margin: 30px 0px;
}

#list {
  width: 170px;
  margin: 30px auto;
  font-size: 20px;
}
#list ol {
  margin-top: 30px;
}
#list ol li {
  text-align: left;
  list-style: decimal;
  margin: 30px 0px;
}

.button.ng-hide{
  display:none;
}



/* SLIDERS INTRO */

.slider-slide p {
 margin-left: 10px;
 margin-right: 10px;
}

.intro-tip {
 font-size: 0.8em;
 margin-top: 60px;
 background-color: #008C95;
 padding-top: 0px;
 color: #FFF !important;
}

.positive-intro-button {
 margin-top: 30px;
 padding-top: 20px !important;
 padding-bottom: 20px !important;
 background-color: #31ce74;
 margin-right: 5px;
 color: #244549;
 font-family: "SunAntwerpen Regular" !important;
 font-size: 1.5em;
}

.negative-intro-button {
 margin-top: 30px;
 padding-top: 20px !important;
 padding-bottom: 20px !important;
 background-color: #e94043;
 margin-left: 5px;
 color: #244549;
 font-family: "SunAntwerpen Regular" !important;
 font-size: 1.5em;
}

.below-buttons {
 margin-top: 60px;

}


#pentagon {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 108px;
  position: relative;
  top: 100px;
  left: 150px;
  border: 36px solid rgba(0,0,0,0);
  border-top: 100px solid #008C95;
  border-bottom: 0 solid #008C95;
  font: normal 100%/normal Arial, Helvetica, sans-serif;
  color: rgba(0,0,0,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  z-index: -5;


  /*-ms-transform: rotate(15deg); /* IE 9 */
  /*-webkit-transform: rotate(15deg); /* Chrome, Safari, Opera */
  /*transform: rotate(15deg);*/
}

#pentagon::before {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 0;
  height: 0;
  position: absolute;
  content: "";
  bottom: 100px;
  left: -36px;
  border: 90px solid rgba(0,0,0,0);
  border-bottom: 70px solid #008C95;
  font: normal 100%/normal Arial, Helvetica, sans-serif;
  color: rgba(0,0,0,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  text-shadow: none;
}

.pentalink {
   text-decoration: none;
   color: #fff;
   font-family: "SunAntwerpen Regular";
   position: relative;
   top: 115px;
   left: 85px;
   font-size: 1.8em;

}

.rotate {
 ms-transform: rotate(15deg); /* IE 9 */
   webkit-transform: rotate(15deg); /* Chrome, Safari, Opera */
   transform: rotate(15deg);
}

#pentagondiv {
    position: relative;
   top: -40px;
}



.button-in-footer {

  margin-top: 0px !important;
  margon-bottom: 0px !important;
  background-color: #008C95 !important;

}

.bar-antwerpen, .button-antwerpen {
    background-color:#008C95 !important;
    border-color: #008C95 !important;
    background-image: none !important;
}

.button.button-antwerpen.active, .button.button-antwerpen.activated {
  background-color: #03737a  !important;
}



.swipeTutorialGrid {
  text-align: center;
}

.swipeTutorialGrid i {
  font-size: 8em;
  color: #008C95;
}

.swipeTutorialGrid p {
  font-family: "SunAntwerpen Regular";
  font-size: 1.8em;
  line-height: 50px;
  color: #008C95;
}

.fixed-button-bottom {
  position: absolute;
  bottom: 0px;
  width: 95%;
  left: 2.5%;
}

.fixed-button-bottom button {

}

.projectCard {
  padding-bottom: 10px !important;

}

.projectCard-button {
  font-family: 'Antwerpen';
  text-transform: uppercase;
}

.projectCard h4 {
  font-size: 1em !important;
  font-family: 'SunAntwerpen Regular';
}

.projectCard h2 {
  font-family: 'Antwerpen' !important;
}

a.projectCard, .projectCard-button a {

  text-decoration: none;
}




/* Card styling */

td-cards {
    display: block;
}

td-card {
    position: absolute;
    left: 50%;
    margin: 80px 0 40px -150px;
    width: 300px;
    height: 300px;
    border: 1px solid #999;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
    border-radius: 6px;
    background-color: rgb(255,255,255);
}

.td-card .title {
    height: 40px;
    font-size: 15px;
    padding: 15px;
}

td-card .image {
    position: absolute;
    top: 40px;
    width: 100%;
}

td-card img {
    height: 258px;
    width: 100%;
    border-radius: 6px;
}

/* Overlay styling*/

.overlayBox {
    position: absolute;
    left: 50%;
    height: 98%;
    width: 100%;
    top: -80px;
    opacity: 0;
    margin: 80px 0 0 -149px;
}

.boxed {
    height: 50px;
    width: 100px;
    padding: 10px;
    border-radius: 6px;
    font-size: 30px;
}

.yes-text {
    background-color: rgba(0,256,0,0.2);
}

.yesBox {
    margin: 10% 60% 0% 10%;
    border: 2px solid #00FF00;
    color: rgb(0, 256, 0);
    -webkit-transform: rotate(-25deg);
}

.no-text {
    background-color: rgba(256,0,0,0.2);
}

.noBox {
    margin: 10% 10% 0% 60%;
    border: 2px solid #FF0000;
    color: rgb(256, 0, 0);
    -webkit-transform: rotate(25deg);
}

.fade {
    -webkit-transition: 0.2s opacity linear;
    transition: 0.2s opacity linear;
    opacity: 0;
}
