<div class="modal fade" id="addquestionmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="loginmodal-container">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h1>Voeg een vraag toe</h1><br>
      <form id="addnewquestion">
        <input ng-model="questionTitle" type="text" name="questionTitle" placeholder="Vraag">

        <select id="sortofquestion" ng-model="sortofquestion" name="sortofquestion" form="addnewquestion">
          <option value="" disabled selected>-- Kies een optie --</option>
          <option value="yesno">Ja/Nee vraag</option>
          <option value="multiplechoice">Meerkeuzevraag</option>
        </select>
        <br>
          Scheidt de antwoorden mbv een komma.
        <input ng-model="questionAnswers" type="text" name="questionAnswers" placeholder="Wat zijn de mogelijke antwoorden?">

        <input  ng-click="questions.addQuestion(questionTitle, sortofquestion, questionAnswers);" data-toggle="modal" type="submit" class="login loginmodal-submit addsubmit" value="Bevestig">

      </form>

    </div>
  </div>
</div>
