<div class="wrapper">

    <div class="card radius shadowDepth1 hoverable">

      <!-- project image -->
        <div class="card__image border-tlr-radius">
            <img src="http://lorempixel.com/400/200/city/" alt="image" class="border-tlr-radius">
        </div>

      <!-- project info short -->
        <div class="card__content card__padding">

            <article class="card__article">
                <h2><a></a></h2>

                <p></p>
            </article>

            <div class="ReadMore">
                <a href="single_page.html">Lees meer...</a>
            </div>
        </div>

    </div>

</div>
