<div class="modal fade" id="changepassword-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="loginmodal-container">



            <!-- heading -->
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h1>Pas je wachtwoord aan</h1>
            <br>
            <form name="loginForm" ng-submit="password.change(email, password);" role="form" data-toggle="validator">



                <!-- input fields -->
                <input ng-model="newpassword" type="password" name="pass" placeholder="Nieuw wachtwoord" data-minlength="6" class="form-control" required>
                <input ng-model="repeatpassword" type="password" name="pass" placeholder="Herhaal wachtwoord" data-minlength="6" class="form-control" required>

                <!-- confirm -->
                <input data-toggle="modal" type="submit" class="login loginmodal-submit" style="width: 100%;" value="Wijzig">


            </form>

        </div>
    </div>
</div>
