<div class="row commentsection">
  <div class="col-sm-2">

  </div>
  <div class="col-sm-8">

    <div class="col-sm-12">
          <blockquote>
            <b>Datum: 25 mei 2016</b>
            <p>
              Dit is de tijdelijke eerste comment
            </p>
            <cite> - Bram De Baerdemaeker</cite>
          </blockquote>
    </div>

  </div>
  <div class="col-sm-2">

  </div>
</div>
<div class="row commentsection">
  <div class="col-sm-2">

  </div>
  <div class="col-sm-8">

    <div class="col-sm-12">
          <blockquote>
            <b>Datum: 25 mei 2016</b>
            <p>
              Dit is de tijdelijke tweede comment die werd ingevoerd om het effect te zien
            </p>
            <cite> - Bram De Baerdemaeker</cite>
          </blockquote>
    </div>

  </div>
  <div class="col-sm-2">

  </div>
</div>
<div class="row commentsection">
  <div class="col-sm-2">

  </div>
  <div class="col-sm-8">

    <div class="col-sm-12">
          <blockquote>
            <b>Datum: 25 mei 2016</b>
            <p>
              Dit is de tijdelijke derde comment. 
            </p>
            <cite> - Bram De Baerdemaeker</cite>
          </blockquote>
    </div>

  </div>
  <div class="col-sm-2">

  </div>
</div>
