<!-- hr - line -->
  <div class="row commentsection">
    <div class="col-sm-2">

    </div>
    <div class="col-sm-8">
      <hr style="border-color:#008C95; border-style:solid;">
    </div>
    <div class="col-sm-2">

    </div>
  </div>



<!-- text area input field -->
  <div class="row commentsection">
    <div class="col-sm-2">
      <!-- left whitespace container-->
    </div>

    <div class="col-sm-8">
      <div class="col-sm-12">
        <form class="commentForm">
          <textarea name="name" class="form-control" rows="6" placeholder="Plaats hier uw reactie" ng-model="reactionfield"></textarea>
          <input type="submit" class="login loginmodal-submit" value="Plaats" ng-click="comments.placeReaction(reactionfield)">
        </form>
      </div>
    </div>

    <div class="col-sm-2">
      <!-- right whitespace container-->
    </div>
  </div>


<!-- posted comments -->
  <div class="row commentsection" ng-repeat="comment in comments.all">
    <div class="col-sm-2">
      <!-- left whitespace container-->
    </div>

    <div class="col-sm-8">
      <div class="col-sm-12">
        <blockquote>
          <b>{{comment.username}}</b>
          <a href=""<i class="fa fa-trash-o" aria-hidden="true" ng-show="user.isAdmin == 1" ng-click="comments.deleteComment(comment.id)"></i></a>
          <p>
            {{comment.comment}}
          </p>
          <cite> - {{comment.created_at.substr(0,11)}}</cite>
        </blockquote>
      </div>
    </div>

    <div class="col-sm-2">
      <!-- right whitespace container-->
    </div>
  </div>
