<div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="createmodal-container">


          <!-- heading -->
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h1>Pas dit project aan</h1>
            <br>

            <form class="" ng-controller="mapsController as mapslogic">
                <input ng-model="spproject.name" type="text" name="editprojectname" placeholder="Projectnaam">

              <!-- tabs heading -->
                <ul class="nav nav-tabs" id="tabContent">
                    <li class="active"><a data-target="#editinformatieTab" data-toggle="tab">Informatie</a></li>
                    <li><a data-target="#editdateTab" data-toggle="tab">Datums</a></li>
                    <li><a data-target="#editmapsTab" data-toggle="tab" ng-click="mapslogic.clickMapUpdate()">Map</a></li>
                </ul>

              <!-- tab content -->
                <div class="tab-content">

                  <!-- information tab -->
                    <div class="tab-pane active" id="editinformatieTab">
                        <div class="infoShort">
                            <input ng-model="spproject.category" type="text" name="editcategorie" placeholder="Categorie">
                            <input ng-model="spproject.location" type="text" name="editlocatie" placeholder="Locatie">
                        </div>

                        <textarea ng-model="spproject.description" class="form-control" rows="6" type="text" name="editbeschrijving" placeholder="Beschrijving"></textarea>

                    </div>

                  <!-- date tab -->
                    <div class="tab-pane" id="editdateTab">
                        <label for="begindateedit">Begindatum</label>
                        <div pickadate format="yyyy-mm-dd" week-starts-on="1" no-extra-rows ng-model="editprojectstartdate" max-date="editprojectenddate" type="text" name="begindatum" placeholder="Begindatum" id="begindateedit" style="margin-bottom: 15px"></div>
                        <label for="enddateedit">Einddatum</label>
                        <div pickadate format="yyyy-mm-dd" week-starts-on="1" ng-model="editprojectenddate" min-date="editprojectstartdate" type="text" name="einddatum" placeholder="Einddatum" id="enddateedit" style="margin-bottom: 15px"></div>

                    </div>

                  <!-- google maps tab -->
                    <div class="tab-pane" id="editmapsTab">
                              <div class="map" id="mapupdate" ng-init="showmapupdate = false">
                                  <a ng-hide="showmapupdate" href="" ng-click="mapslogic.getMapUpdate(); showmapupdate = true;" id="clickEditMap">Map laden...</a>
                              </div>
                        <!-- <div class="map" id="mapupdate"></div> -->
                    </div>



                </div>


              <!-- confirm -->
                <input ng-click="project.edit(spproject.name, spproject.description, editprojectstartdate, editprojectenddate, spproject.category, spproject.location, mapslogic.latupdate, mapslogic.lngupdate);" data-toggle="modal" type="submit" class="login loginmodal-submit"
                    value="Pas aan">
                <input ng-click="project.delete();" data-toggle="modal" type="submit" class="login loginmodal-submit deleteButton" value="Delete">

            </form>

        </div>
    </div>
</div>
