<div class="container" ng-controller="projectoverzichtController as projects" ng-init="projects.get()">
  <div class="row section1">
    <div class="col-sm-1">

    </div>
    <div class="col-sm-5">
      <h2 class="aTitle">Zoek op district</h2>
    </div>
    <div class="col-sm-5">
      <form id="selectDistrict">
        <select ng-model="districtchoice" name="districtchoice" form="selectDistrict" class="select">
          <option value="" disabled selected>-- Kies een district --</option>
          <option ng-repeat="project in projects.all" value="{{project.location}}">{{project.location}}</option>
        </select>
      </form>
    </div>
    <div class="col-sm-1">

    </div>
  </div>
</div>
