<div class="container" ng-controller="projectoverzichtController as projects">
  <div class="row section1">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-2">
      <h2 class="aTitle">test</h2>
    </div>
    <div class="col-sm-3">
      <form id="selectDistrict">
        <select ng-model="districtchoice" name="districtchoice" form="selectDistrict">
          <option value="" disabled selected>-- Kies een district --</option>
          <div ng-repeat="project in projects.all">
            <option value="{{project.location}}">{{project.location}}</option>
          </div>
        </select>
      </form>
    </div>
    <div class="col-sm-6">
      <div ng-init="projects.get()">
        <div ng-repeat="project in projects.all">
        </div>
      </div>
    </div>
  </div>
</div>
