<!-- <div class="footer row navbar-fixed-bottom">

  <div class="footer-content">
    <div class="footer-left col-md-4">
      <p>
        Copyright © Antwerpen | 2016  </br> </br> </br> Alle rechten voorbehouden.
      </p>
    </div>

    <div class="footer-mid col-md-4">
      <h3>Contacteer de stad</h3>
      Stedelijk contactcenter </br>
      tel. 03 22 11 333 </br>
      info@stad.antwerpen.be </br>
    </div>

    <div class="footer-right col-md-4">
      <p>
        Volg ons op onze sociale media
      </p> </br>
      <a href="https://www.facebook.com/stad.antwerpen/"><img src="../img/logo-facebook.svg" alt="" /></a>
      <a href="https://twitter.com/stad_antwerpen?lang=nl"><img src="../img/logo-twitter.svg" alt="" /></a>
      <a href="https://www.instagram.com/stad_antwerpen/"><img src="../img/logo-instagram.svg" alt="" /></a>
    </div>

  </div>
</div> -->

<div class="footer">
  <div class="footer-container">


      <div class="footer-left col-md-4">
        <p>
          Copyright © Antwerpen | 2016  </br> </br> </br> Alle rechten voorbehouden.
        </p>
      </div>

      <div class="footer-mid col-md-4">
        <h3>Contacteer de stad</h3>
        <p>
          Stedelijk contactcenter </br>
          tel. 03 22 11 333 </br>
          info@stad.antwerpen.be </br>
        </p>

      </div>

      <div class="footer-right col-md-4">
        <p>
          Volg ons op onze sociale media
        </p> </br>
        <a href="https://www.facebook.com/stad.antwerpen/"><img src="../img/logo-facebook.svg" alt="" /></a>
        <a href="https://twitter.com/stad_antwerpen?lang=nl"><img src="../img/logo-twitter.svg" alt="" /></a>
        <a href="https://www.instagram.com/stad_antwerpen/"><img src="../img/logo-instagram.svg" alt="" /></a>
      </div>
  



  </div>
</div>
