<div class="footer">
    <div class="footer-container">

      <!-- left side footer -->
        <div class="footer-left col-md-4">
            <p>
                Copyright © Antwerpen | 2016 </br>
                </br> BESS KDG
            </p>
        </div>

      <!-- footer mid -->
        <div class="footer-mid col-md-4">
            <p>
                Stedelijk contactcenter </br>
                tel. 03 22 11 333 </br>
                info@stad.antwerpen.be </br>
            </p>

        </div>

      <!-- right side footer -->
        <div class="footer-right col-md-4">
            <p>
                Volg ons op onze sociale media
            </p>
            </br>
            <a href="https://www.facebook.com/stad.antwerpen/"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
            <a href="https://twitter.com/stad_antwerpen?lang=nl"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
            <a href="https://www.instagram.com/stad_antwerpen/"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
        </div>
    </div>
</div>
