<div class="row section1">

  <div class="col-xs-2">

  </div>
  <div class="col-xs-8">

  </div>
  <div class="col-xs-2">

  </div>
</div>
<div class="container homepage">

  <div class="row section12">
    <div class="col-xs-12 divider-new aTitle">
      Uw mening is belangrijk!
    </div>
  </div>

  <div class="row section2">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-8">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis atque dolores aperiam ea ducimus, consequuntur, nisi impedit veritatis facere voluptatibus recusandae doloremque optio rerum error nemo velit, rem natus expedita.
    </div>
    <div class="col-sm-2">
    </div>
  </div>
</div>
