<div class="modal fade" id="imageupload-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="loginmodal-container createmodal-container">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h1>Log in op jouw profiel</h1><br>
      <form>
        <div class="file-upload">

          <div class="image-upload-wrap">
            <input ng-model="inputimage" class="file-upload-input" type='file' onchange="readURL(this);" accept="image/*" />
            <div class="drag-text">
              <h3>Sleep je afbeelding naar hier of klik.</h3>
            </div>
          </div>

          <div class="file-upload-content">
            <img class="file-upload-image" src="#" alt="your image" />
            <div class="image-title-wrap">
              <button type="button" onclick="removeUpload()" class="remove-image">Verwijder Afbeelding</button>
            </div>
          </div>
        </div>

        <input ng-click='images.upload();' data-toggle="modal" type="submit" class="login loginmodal-submit" value="Afbeelding uploaden">


      </form>

    </div>
  </div>
</div>
