<div class="row informatie">
  <div class="col-sm-2">
    <!-- Linkse witruimte container -->
  </div>

  <div class="col-sm-8">
    <div class="col-sm-2">

    </div>
    <div class="col-sm-2">
      <div class="begindatum">
        <img src="" alt="" />
        <p>
          Begindatum: {{spproject.startdate | date:'dd-MM-yyyy'}}
        </p>
      </div>
    </div>
    <div class="col-sm-2">

    </div>
    <div class="col-sm-2">

    </div>
    <div class="col-sm-2">
      <div class="einddatum">
        <img src="" alt="" />
        <p>
          Einddatum: {{spproject.enddate | date:'dd-MM-yyyy'}}
        </p>
      </div>
    </div>

    <div class="col-sm-2">

    </div>
  </div>

  <div class="col-sm-2">
    <!-- Rechtse witruimte container -->
  </div>
</div>

<div class="row informatie">
  <div class="col-sm-2">
    <!-- Linkse witruimte container -->
  </div>

  <div class="col-sm-8">
    <div class="col-sm-2">

    </div>
    <div class="col-sm-2">
      <div class="categorie">
        <img src="" alt="" />
        <p>
          Categorie: {{spproject.category}}
        </p>
      </div>
    </div>
    <div class="col-sm-2">

    </div>
    <div class="col-sm-2">

    </div>
    <div class="col-sm-2">
      <div class="locatie">
        <img src="" alt="" />
        <p>
          Locatie: {{spproject.location}}
        </p>
      </div>
    </div>

    <div class="col-sm-2">

    </div>

  </div>

  <div class="col-sm-2">
    <!-- Rechtse witruimte container -->
  </div>
</div>

<div class="row">
  <div class="col-sm-2">

  </div>
  <div class="col-sm-8">
    <div class="col-sm-4">
      <div class="btn-bg bg-2">
        <div class="btn btn-2">
          <button href="#">Beschrijving</button>
        </div>
      </div>
    </div>
    <div class="col-sm-4">

    </div>
    <div class="col-sm-4">

    </div>
  </div>
  <div class="col-sm-2">

  </div>
</div>

<div class="row">
  <div class="col-sm-2">

  </div>
  <div class="col-sm-8">

    <div class="col-sm-12">
      <p>
        {{spproject.description}}
      </p>
    </div>

  </div>
  <div class="col-sm-2">

  </div>
</div>
