<!-- google maps location -->
<div class="row" ng-controller="mapsController as mapslogic">

    <div class="col-sm-2">
        <!-- left whitespace container -->
    </div>

    <div class="col-sm-8">
        <div ng-show="spproject.longitude" class="map" id="spmap" style="height: 200px" ng-init="showmap = false">
            <a style=" margin-top:50px; position: absolute; left: 50%; margin-left: -44px !important; display: block;" ng-hide="showmap" href="" ng-click="mapslogic.getMapSinglePage(spproject.latitude, spproject.longitude); showmap = true;" id="clickSPMap">Map laden</a>
        </div>
    </div>

    <div class="col-sm-2">
        <!-- right whitespace container -->
    </div>

</div>


<!-- first information row -->
<div class="row information">

    <div class="col-sm-2">
        <!-- left whitespace container -->
    </div>

    <div class="col-sm-8">
        <div class="col-sm-2">
            <!-- left whitespace  -->
        </div>

      <!-- start date -->
        <div class="col-sm-2">
            <div class="begindatum">
                <p>
                    <b>Begindatum:</b>
                    </br>
                    {{spproject.startdate | date:'dd-MM-yyyy'}}
                </p>
            </div>
        </div>

        <div class="col-sm-4">
            <!-- middle whitespace container -->
        </div>

      <!-- end date -->
        <div class="col-sm-2">
            <div class="einddatum">
                <p>
                    <b>Einddatum:</b>
                    </br>
                    {{spproject.enddate | date:'dd-MM-yyyy'}}
                </p>
            </div>
        </div>

        <div class="col-sm-2">
            <!-- right whitespace container -->
        </div>


    </div>

    <div class="col-sm-2">
        <!-- right whitespace container -->
    </div>


</div>



<!-- second information row -->
<div class="row information">

    <div class="col-sm-2">
        <!-- left whitespace container -->
    </div>

    <div class="col-sm-8">
        <div class="col-sm-2">
            <!-- left whitespace  -->
        </div>

      <!-- category -->
        <div class="col-sm-2">
            <div class="categorie">
                <p>
                    <b>Categorie:</b>
                    </br>
                    {{spproject.category}}
                </p>
            </div>
        </div>

        <div class="col-sm-4">
            <!-- middle whitespace  -->
        </div>

      <!-- location -->
        <div class="col-sm-2">
            <div class="locatie">
                <p>
                    <b>Locatie:</b>
                    </br>
                    {{spproject.location}}
                </p>
            </div>
        </div>

        <div class="col-sm-2">
            <!-- right whitespace  -->
        </div>


    </div>

    <div class="col-sm-1">
        <!-- right whitespace container -->
    </div>

</div>

<!-- description box -->
<div class="row description">

    <div class="col-sm-2">
        <!-- left whitespace container -->
    </div>

  <!-- project description -->
    <div class="col-sm-8">

        <hr style="border-color:#008C95; border-style:solid;">

        <div class="col-sm-12">
            <p>
                {{spproject.description}}
            </p>
            <a href="" data-toggle="modal" data-target="#edit-modal"><i class="fa fa-pencil-square-o fa-3x" aria-hidden="true" ng-show="user.isAdmin == '1'" style="margin-top:15px;"></i></a>

        </div>

    </div>

    <div class="col-sm-2">
        <!-- right whitespace container -->
    </div>

</div>
