<div class="row informatie" ng-controller="mapsController as mapslogic">
  <div class="col-sm-2">
    <!-- Linkse witruimte container -->
  </div>

  <div class="col-sm-8">
    <div ng-show="spproject.longitude" class="map" id="spmap" style="height: 200px" ng-init="showmap = false">
      <a style=" margin-top:50px; position: absolute; left: 50%; margin-left: -44px !important; display: block;" ng-hide="showmap" href="" ng-click="mapslogic.getMapSinglePage(spproject.latitude, spproject.longitude); showmap = true;">Map laden</a>
    </div>
    <div class="col-sm-1">
    </div>
    <div class="col-sm-2">
      <div class="begindatum">
        <p>
          Begindatum:
        </p>
      </div>
    </div>
    <div class="col-sm-3">
       {{spproject.startdate | date:'dd-MM-yyyy'}}
    </div>
    <div class="col-sm-1">

    </div>
    <div class="col-sm-2">
      <div class="einddatum">
        <p>
          Einddatum:
        </p>
      </div>
    </div>

    <div class="col-sm-3">
      {{spproject.enddate | date:'dd-MM-yyyy'}}
    </div>
  </div>

  <div class="col-sm-1">
    <!-- Rechtse witruimte container -->
  </div>
</div>

<div class="row informatie">
  <div class="col-sm-2">
    <!-- Linkse witruimte container -->
  </div>

  <div class="col-sm-8">
    <div class="col-sm-1">

    </div>
    <div class="col-sm-2">
      <div class="categorie">
        <p>
          Categorie:
        </p>
      </div>
    </div>
    <div class="col-sm-3">
      {{spproject.category}}
    </div>
    <div class="col-sm-1">

    </div>
    <div class="col-sm-2">
      <div class="locatie">
        <p>
          Locatie:
        </p>
      </div>
    </div>

    <div class="col-sm-3">
      {{spproject.location}}
    </div>

  </div>

  <div class="col-sm-1">
    <!-- Rechtse witruimte container -->
  </div>
</div>

<div class="row">
  <div class="col-sm-2">

  </div>
  <div class="col-sm-8">
    <div class="col-sm-4">
      <div class="btn-bg bg-2">
        <div class="btn btn-2">
          <button class="aTitle">Beschrijving</button>
        </div>
      </div>
    </div>
    <div class="col-sm-4">

    </div>
    <div class="col-sm-4">

    </div>
  </div>
  <div class="col-sm-2">

  </div>
</div>

<div class="row beschrijving">
  <div class="col-sm-2">

  </div>
  <div class="col-sm-8">

    <div class="col-sm-12">
      <p>
        {{spproject.description}}


      </p>

      <img data-toggle="modal" data-target="#edit-modal" ng-show="user.isAdmin == '1'" src="img/editblue.png" width="30" height="30" class="editproject"/>
    </div>

  </div>
  <div class="col-sm-2">

  </div>
</div>
