<div class="container">
  <h2>Leaderboard</h2>

  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th><h4>#</h4></th>
          <th><h4>Gebruikersnaam</h4></th>
          <th><h4>Punten laatste 30 dagen</h4></th>
          <th><h4>Punten totaal</h4></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Sander Peeters</td>
          <td>345</td>
          <td>476</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Bram De Baerdemaeker</td>
          <td>345</td>
          <td>476</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Edward Vereertbrugghen</td>
          <td>345</td>
          <td>476</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Steven Serien</td>
          <td>345</td>
          <td>476</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
