<h2>Leaderboard</h2>

<div class="table-responsive" ng-init="user.getLeaderboard()">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    <h4>#</h4></th>
                <th>
                    <h4 class="textAlignLeft">Gebruikersnaam</h4></th>
                <th>
                    <h4>Punten totaal</h4></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="leaderboard in user.leaderboards">
                <th scope="row">{{$index + 1}}</th>
                <td class="textAlignLeft">{{leaderboard.username}}</td>
                <td>{{leaderboard.score}}</td>
            </tr>

        </tbody>
    </table>


    <!-- pagination -->

    <ul class="pagination pagination-sm">
        <li><a href="">&laquo;</a></li>
        <li class="active"><a href="">1</a></li>
        <li><a href="">2</a></li>
        <li><a href="">3</a></li>
        <li><a href="">4</a></li>
        <li><a href="">5</a></li>
        <li><a href="">&raquo;</a></li>
    </ul>
</div>
