<div class="container">
  <div class="row profile">
    <div class="col-md-3">
      <div class="profile-sidebar">
        <!-- SIDEBAR USERPIC -->
        <div class="profile-userpic">
          <i class="fa fa-user fa-5x" aria-hidden="true"></i>
        </div>
        <!-- END SIDEBAR USERPIC -->
        <!-- SIDEBAR USER TITLE -->
        <div class="profile-usertitle">
          <div class="profile-usertitle-name">
            Bram De Baerdemaeker
          </div>
          <div class="profile-usertitle-job">
            Developer
          </div>
        </div>
        <!-- END SIDEBAR USER TITLE -->

        <!-- SIDEBAR MENU -->
        <div class="profile-usermenu">
          <ul class="nav" id="tab-content">
            <li class="active">
              <a data-target="#overviewTab" data-toggle="tab">
                <i class="glyphicon glyphicon-home"></i>
                Overzicht </a>
              </li>
              <li>
                <a data-target="#emailpreferencesTab" data-toggle="tab">
                  <i class="glyphicon glyphicon-user"></i>
                  Emailvoorkeuren </a>
                </li>
                <li>
                  <a data-target="#leaderboardTab" data-toggle="tab">
                    <i class="glyphicon glyphicon-ok"></i>
                    Leaderboard </a>
                  </li>
                  <li>
                    <a data-target="#helpTab" data-toggle="tab">
                      <i class="glyphicon glyphicon-flag"></i>
                      Help </a>
                    </li>
                  </ul>
                </div>
                <!-- END MENU -->
              </div>
            </div>




            <div class="col-md-9 tab-content profile-content">




              <div class="tab-pane active" id="overviewTab">
                <div class="table-responsive">
                  <table class="table table-hover tableOverview">

                    <tbody>
                      <tr>
                        <th scope="row">Naam</th>
                        <td>Otto</td>
                        <td><a href="#">edit</a></td>
                      </tr>
                      <tr>
                        <th scope="row">Email</th>
                        <td>otto.vanmalderen@hotmail.com</td>
                        <td><a href="#">edit</a></td>
                      </tr>
                      <tr>
                        <th scope="row">Wachtwoord</th>
                        <td>*********</td>
                        <td><a href="#">edit</a></td>
                      </tr>
                      <tr>
                        <th scope="row">Woonplaats</th>
                        <td>Antwerpen</td>
                        <td><a href="#">edit</a></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>



              <div class="tab-pane" id="emailpreferencesTab">
                <div class="preferences">

                  <h3>Abonneren op:</h3>

                  <div class="checkboxes">
                    <div class="reminder-email">
                      <div class="checkbox">
                        <label><input type="checkbox" value=""> <b>Niewe projecten e-mails</b> </br>
                        Blijf op de hoogte van de laatste nieuwe projecten
                      </label>

                      </div>
                    </div>

                    <div class="reminder-email">
                      <div class="checkbox">
                        <label><input type="checkbox" value=""> <b>Herinneringse-mails</b> </br>
                        Blijf op de hoogte van dingen die je misschien gemist hebt
                      </label>

                      </div>
                    </div>

                    <div class="reminder-email">
                      <div class="checkbox">
                        <label><input type="checkbox" value=""> <b>Herinneringse-mails</b> </br>
                        Blijf op de hoogte van dingen die je misschien gemist hebt
                      </label>

                      </div>
                    </div>

                    <div class="reminder-email">
                      <div class="checkbox">
                        <label><input type="checkbox" value=""> <b>Herinneringse-mails</b> </br>
                        Blijf op de hoogte van dingen die je misschien gemist hebt
                      </label>

                      </div>
                    </div>
                  </div>



                </div>
              </div>

              <div class="tab-pane" id="leaderboardTab">
                <leaderboard></leaderboard>
              </div>

              <div class="tab-pane" id="helpTab">
                help tab
              </div>

            </div>

          </div>
        </div>
