<div>
  <div class="modal fade" id="register-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
      <div class="registermodal-container">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h1>Maak een profiel aan</h1><br>
        <form>
          <input ng-model="voornaam" type="text" name="voornaam" placeholder="Voornaam">
          <input ng-model="achternaam" type="text" name="achternaam" placeholder="Achternaam">

          <input ng-model="email" type="text" name="user" placeholder="E-mail">
          <input ng-model="password" type="password" name="pass" placeholder="Wachtwoord">


          <input ng-click='user.register(voornaam, achternaam, email, password);' data-toggle="modal" type="submit" class="register registermodal-submit" value="Registreer mij">


        </form>

      </div>
    </div>
  </div>
</div>
