<div class="modal fade" id="showresults-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="createmodal-container">

          <!-- heading -->
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h1>Zie hier u modal</h1>
            <br>

            plaats je brol hier maar in jongen

        </div>
    </div>
</div>
