
<div class="container">

  <div class="row headerTitle">
    <div class="col-sm-2">
      <!-- linkse witruimte container -->
    </div>
    <div class="col-sm-8">
      <h1>{{spproject.name}}</h1>
    </div>
    <div class="col-sm-2">
      <!-- Rechtse witruimte container -->
    </div>
  </div>


  <div class="row headerImg">
    <div class="col-sm-2">
      <!-- linkse witruimte container -->
    </div>
    <div class="col-sm8">
      <img src="http://lorempixel.com/800/400/city/" alt="image" class="border-tlr-radius" style="
  width: 70%;
  object-fit: cover;
"/>
    </div>
    <div class="col-sm-2">
      <!-- Rechtse witruimte container -->
    </div>
  </div>



  <div ng-controller="PanelController as panel">
    <div class="row">
      <div class="col-sm-2">
        <!-- linkse witruimte container -->
      </div>
      <div class="col-sm-8">

        <div class="col-sm-4">
          <div class="btn-bg bg-2">
            <div class="btn btn-2">
              <button href="#" ng-click="panel.selectTab(1)" ng-class="{active: panel.isSelected(1)}">Informatie</button>
            </div>
          </div>
        </div>

        <div class="col-sm-4 btn-right">
          <div class="btn-bg bg-2">
            <div class="btn btn-2">
              <button href="#" ng-click="panel.selectTab(2)" ng-class="{active:panel.isSelected(2)}">Vragenlijst</button>
            </div>
          </div>
        </div>

        <div class="col-sm-4 btn-right">
          <div class="btn-bg bg-2">
            <div class="btn btn-2">
              <button href="#" ng-click="panel.selectTab(3)" ng-class="{active:panel.isSelected(3)}">Tijdlijn</button>
            </div>
          </div>
        </div>

      </div>
      <div class="col-sm-2">
        <!-- Rechtse witruimte container -->
        {{tab}}
      </div>
    </div>

    <div class="panelTab" ng-show="panel.isSelected(1)">
      <informatie></informatie>
    </div>

    <div class="panelTab" ng-show="panel.isSelected(2)">
      <vragenlijst></vragenlijst>
    </div>

    <div class="panelTab" ng-show="panel.isSelected(3)">
      <timeline></timeline>
    </div>
  </div>






</div>
