
<div class="container">

  <div class="row headerTitle">
    <div class="col-sm-2">
      <!-- linkse witruimte container -->
    </div>
    <div class="col-sm-8">
      <h1>{{spproject.name}}</h1>
    </div>
    <div class="col-sm-2">
      <!-- Rechtse witruimte container -->
    </div>
  </div>


  <div class="row headerImg" ng-controller="imageController as images">
    <div class="col-sm-2">
      <!-- linkse witruimte container -->
    </div>
    <div class="col-sm-8" ng-init="images.get();">
        <div class="slickimages" ng-show="images.all;">
      </div>

      <a href="" data-toggle="modal" data-target="#imageupload-modal" ng-show="user.isAdmin == '1'">Afbeelding uploaden</a>
    </div>
    <div class="col-sm-2">
      <!-- Rechtse witruimte container -->
    </div>

  </div>





  <div ng-controller="PanelController as panel">
    <div class="row">
      <div class="col-xs-2">
        <!-- linkse witruimte container -->
      </div>
      <div class="col-xs-8">

        <div class="col-sm-4 aTitle">
          <div class="btn-bg bg-2">
            <div class="btn btn-2">
              <button data-target="#" ng-click="panel.selectTab(1)" ng-class="{active: panel.isSelected(1)}">Informatie</button>
            </div>
          </div>
        </div>

        <div class="col-sm-4 aTitle">
          <div class="btn-bg bg-2">
            <div class="btn btn-2">
              <button data-target="#" ng-click="panel.selectTab(2)" ng-class="{active:panel.isSelected(2)}">Vragenlijst</button>
            </div>
          </div>
        </div>

        <div class="col-sm-4 aTitle">
          <div class="btn-bg bg-2">
            <div class="btn btn-2">
              <button data-target="#" ng-click="panel.selectTab(3)" ng-class="{active:panel.isSelected(3)}">Tijdlijn</button>
            </div>
          </div>
        </div>

      </div>
      <div class="col-xs-2">
        <!-- Rechtse witruimte container -->
      </div>
    </div>

    <div class="panelTab" ng-show="panel.isSelected(1)">
      <informatie></informatie>
    </div>

    <div class="panelTab" ng-show="panel.isSelected(2)">
      <vragenlijst></vragenlijst>
    </div>

    <div class="panelTab" ng-show="panel.isSelected(3)">
      <timeline></timeline>
    </div>
  </div>
<imageupload></imageupload>
</div>
