<div class="timelinecontainer">
  <div id="timeline" class="timeline" >
    <div class="addItem" ng-show="user.isAdmin == '1'">
      <button data-toggle="modal" data-target="#addtimelineitem-modal" type="button" class="btn btn-circle btn-lg card"><img src="img/plus.png" width="30" height="30" /></button>
    </div>
    <div class="timeline-item" ng-repeat="timeline in timelines.all">
      <div class="timeline-icon">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        width="21px" height="20px" viewBox="0 0 21 20" enable-background="new 0 0 21 20" xml:space="preserve"></svg>
      </div>
      <div class="timeline-content" id="{{timeline.id}}" ng-class-even="'right'">
        <h3>{{timeline.title}} <a href=""><i class="fa fa-pencil-square-o" aria-hidden="true" ng-show="user.isAdmin == '1'" ng-click="timelines.getTimelineId(timeline.id)"></i></a></h3>
        <p>
          {{timeline.description}}
        </p>
        <p class="date">
          {{timeline.date}}
        </p>
      </div>
    </div>
  </div>
</div>
<addtimelineitem></addtimelineitem>
<edittimelineitem></edittimelineitem>
