<div class="row informatie" ng-controller="questioncontroller as questions">
  <div class="col-sm-2">
    <!-- Linkse witruimte container -->
  </div>
  <div class="col-sm-8">
    <form class="" action="index.html" method="post">
      <!-- <fieldset>
      <label for="">1. Vindt u dat het project correct wordt behandeld?</label><br>
      <input type="radio" id="r1" name="correct" value="yes" >
      <label for="r1">Ja</label><br>
      <input type="radio" id="r2" name="correct" value="no">
      <label for="r2">Neen</label><br>
      <input type="radio" id="r3" name="correct" value="noopinion">
      <label for="r3">Geen mening</label><br>
    </fieldset>

    <fieldset>
    <label for="">2. Het budget voor dit project is 1 miljoen euro, vindt u dat te veel?</label><br>
    <input type="radio" id="r4" name="correct" value="yes">
    <label for="r1">Ja</label><br>
    <input type="radio" id="r5" name="correct" value="no">
    <label for="r2">Neen</label><br>
    <input type="radio" id="r6" name="correct" value="noopinion">
    <label for="r3">Geen mening</label><br>
  </fieldset> -->
  <div ng-repeat="question in questions.all">
    <fieldset>
      <label for="">{{$index + 1}}. {{question.title}}</label> <br>
      <div ng-repeat="answer in questions.possibleanswers[question.id]">
        <label for="">{{$index + 1}}. {{answer}}</label>
        <p>

        </p>
      </div>
    </fieldset>
  </div>
  <input class="btn btn-2" type="submit" value="Insturen">
</form>
</div>
<div class="col-sm-2">
  <!-- Rechtse witruimte container -->
</div>

</div>
