body {
  background-color: white;
  background: url("../img/mas.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#menulogo {
  max-height: 2.5em;
  margin-top: -10px;
}

#nav-menu {
  width: 1.7em;

}

menu {
  margin: 0px;
  padding: 0px;
}
