@font-face {
  font-family: AntwerpenFontRegular;
  src:url(fonts/Antwerpen-Regular.woff);
}

@font-face {
  font-family: AntwerpenFontTall;
  src:url(fonts/Antwerpen-Talls.woff);
}

@font-face {
  font-family: AntwerpenFontSmall;
  src:url(fonts/sAntwerpenSmallCaps-regular.woff);
}

body {
  background: linear-gradient(
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
    ),
    url("../img/mas.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  /* navigatie - begin */

  #menulogo {
    max-height: 2.5em;
    margin-top: -10px;
  }

  #bs-example-navbar-collapse-1 {
    background-color: #f9f9f9 !important;
  }
  .navbar-title {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin:0 auto;
    color: black;
    font-family: AntwerpenFontRegular;
  }

  #nav-menu {
    width: 1.7em;


  }
  .navButtons {
    font-size: 1.2em;
  }

}
menu {
  margin: 0px;
  padding: 0px;
  height: 54px;

}

.navbar-default {
  color: #fff;
  border: none;
  width: 100%;
  box-shadow: none !important;
}

.navbar-title {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  margin:0 auto;
  color: black;
  font-family: AntwerpenFontRegular;
}

.navbar-title a:link, a:visited, a:hover{
  text-decoration: none;
  color: black;
}
menu {
  margin: 0px;
  padding: 0px;
  height: 54px;
  background-color: #fff !important;
}

.navbar-default {
  background-color: #fff;
  color: #fff;
  border: none;
  width: 100%;
  box-shadow: none !important;
}





/* navigatie - einde */
@media (min-width: 768px) {
  .navbar-left {
    float: left !important;
    height: 54px;
  }
  .navbar-right {
    float: right !important;
    margin-right: -15px;
    height: 54px;
  }

}

body > menu > nav .container-fluid {
  background-color: #f9f9f9;
}

.container {
  background-color: #f9f9f9;
  padding-bottom: 40px;
}

/* navigatie - einde */

/* homepage - begin */

a {
  text-decoration: none;
  color: #3498db;
}
a:hover {
  color: #008e9c;
}

h2 {
  line-height: 1.2;
  margin-bottom: 1.6rem;
}

.ReadMore {
  float:right;
}

.ReadMore a:visited {
  color: #3498db;
}

.wrapper {
  margin: 40px auto;
  padding-left: 1em;
  padding-right: 1em;
  display: inline-block;
}

.homepagelogo {
  padding: 50px 0px;
  object-fit: cover;
  -o-object-fit: cover;
}
.section1 {
  height: 500px;
  text-align: center;
}
.section12 {
  text-align: center;
  padding: 0px;
}
.section2 {
  height: 50vh;
  text-align: center;
}
.container.homepage {
  width: 100%;
}
.row.section1 {
  margin-right: 0px;
}
.divider-new {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  font-weight: 300;
  margin-top: 45px;
  margin-bottom: 45px;
}

.divider-new::before {
  content: '';
  height: 1.5px;
  background: #666;
  flex: 1;
  margin: 0 .45em 0 0;
}

.divider-new::after {
  content: '';
  height: 1.5px;
  background: #666;
  flex: 1;
  margin: 0 0 0 .45em;
}
.aTitle {
  font-family: AntwerpenFontRegular;
}
/* homepage - einde */

/**
* Box shadow
*/
.border-tlr-radius {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.text-center { text-align: center; }

.radius { border-radius: 4px; }

.padding-tb { padding-top: 1.6rem; padding-bottom: 1.6rem;}

.shadowDepth0 { box-shadow: 0 1px 3px rgba(0,0,0, 0.12); }

.shadowDepth1 {
  box-shadow:
  0px 0px 4px rgba(0,0,0, 0.24);
}


/**
* Card Styles
*/

.card {
  background-color: #fff;
  margin-bottom: 1.6rem;
}

.card__padding {
  padding-left: 1.6em;
  padding-right: 1.6em;
  padding-bottom: 3em;
}

.card__image {
  min-height: 100px;
  background-color: #eee;
}
.card__image img {
  width: 100%;
  max-width: 100%;
  display: block;
}

.card__content {
  position: relative;

}

/* card meta */
.card__meta time {
  font-size: 1.5rem;
  color: #bbb;
  margin-left: 0.8rem;
}

/* card article */
.card__article a {
  text-decoration: none;
  color: #444;
  transition: all 0.5s ease;
}
.card__article a:hover {
  color: #008e9c;
}
.card__article h2{
  font-family: AntwerpenFontTall;
}

.card:hover {
  transition: box-shadow .25s;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* homepage - einde */

/* single_page begin */
.headerImg {
  margin-top: 4%;
}

.headerTitle h1{
  font-family: AntwerpenFontRegular;
  margin-top: 6%;
}

.informatie {
  font-size: 1.3em;
  margin-top: 25px;
}

.beschrijving {
  margin-top: 30px;
  padding-bottom: 20px;
}
.einddatum, .locatie{
  float:left;
}

.begindatum, .categorie {
  float:left;
}
/* button layout */

body .btn-bg.bg-2 {
  margin-left: -30px;
  margin-top: 30%;
}
body .btn-bg.bg-2 .btn-2 button {
  color: #008C95;
  background: #f9f9f9;
  border: none;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  border-top: solid 2px #008C95;
  border-bottom: solid 2px #008C95;
}

body .btn-bg.bg-2 .btn-2 button:hover {
  background: #008C95;
  color: #fff;
  border-radius: 4px;
}

body .btn-bg.bg-2 .btn-2 button.active {
  background: #008C95;
  color: #fff;
  border-radius: 4px;
}

}
body .btn-bg.bg-2 .btn-2 button {
  color: #008e9c;
  background: white;
  border: none;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  opacity: 0.5;
  border-top: solid 2px #008e9c;
  border-bottom: solid 2px #008e9c;
}

body .btn-bg.bg-2 .btn-2 button:hover {
  background: #008e9c;
  color: #fff;
  border-radius: 4px;
}

body .btn-bg.bg-2 .btn-2 button.active {
  background: #008e9c;
  color: #fff;
  border-radius: 4px;
}




/*body .btn-bg.bg-2 .btn-2 button:hover {
background: transparent;
color: #008e9c;
}
body .btn-bg.bg-2 .btn-2 button:hover:before,
body .btn-bg.bg-2 .btn-2 button:hover:after {
-webkit-transition: all 0.7s ease;
transition: all 0.7s ease;
width: 100%;
}
body .btn-bg.bg-2 .btn-2 button:before,
body .btn-bg.bg-2 .btn-2 button:after {
content: '';
position: absolute;
top: 0;
left: 0px;
width: 0px;
height: 3px;
background: #008e9c;
transition: all 0.4s ease;
}
body .btn-bg.bg-2 .btn-2 button:after {
top: inherit;
left: inherit;
bottom: 0;
right: 0;
}*/

.btn {
  margin: 0 auto 30px auto;
  display: block;
}

button {
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: #fff;
  position: relative;
  letter-spacing: 0.1em;
  font-weight: 400;
  padding: 1rem 3rem 1rem 3rem;
  text-transform: uppercase;
  font-size: 1em;
}




/******  MODALS ******/



.loginmodal-container, .registermodal-container, .createmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  color: #666;
}

.createmodal-container{
  max-width: 550px !important;
}

.loginmodal-container h1, .registermodal-container h1, .createmodal-container h1 {
  text-align: center;
  font-size: 1.8em;

}

.loginmodal-container input[type=submit] {
  width: 45%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.registermodal-container input[type=submit], .createmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}


.loginmodal-container input[type=text], input[type=password],
.registermodal-container input[type=text], input[type=password],
.createmodal-container input[type=text] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover,
.registermodal-container input[type=text]:hover, input[type=password]:hover,
.createmodal-container input[type=text]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
  /* border-radius: 3px; */
  /* -webkit-user-select: none;
  user-select: none; */
}

.modalCheckbox {
  margin-top: 15px;
}

.modalCheckbox label {
  margin-left: 10px;
  font-weight: normal;
}

.loginmodal-submit, .registermodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  border-radius: 4px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  background-color: #7fc1c8;
  padding: 10px 20px;
  font-family: roboto;
  font-size: 14px;
  margin-top: 15px;

  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-container p, .registermodal-container p {
  width: 45%;
  float: right;

}

.loginmodal-submit:hover, .registermodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #6ca6ac;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a, .registermodal-container a{
  text-decoration: none;
  color: #7fc1c8;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}




/******** add project modal begin ********/



.file-upload {
  background-color: #F7F7F7;
  width: 490px;
  height: auto;
  margin: 0 auto;
  padding-bottom: 20px;
}

.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
  margin-top: 5px;
  border: 2px dashed #7fc1c8;
  position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
  background-color: #7fc1c8;
  border: 2px dashed #F7F7F7;
}

.image-upload-wrap:hover h3 {
  color: #fff;
}


.image-title-wrap {

  color: #222;
}

.drag-text {
  text-align: center;
}

.drag-text h3 {
  font-weight: 100;
  text-transform: uppercase;
  color: #7fc1c8;
  padding: 60px 0;
}

.file-upload-image {
  max-width: 490px;
  max-height: 200px;
  margin: auto;
  padding: 20px;
}

.remove-image {
  width: 200px;
  margin: 0;
  color: #fff;
  background: #cd4535;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 2px solid #b02818;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 500;
}

.remove-image:hover {
  background: #c13b2a;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.remove-image:active {
  border: 0;
  transition: all .2s ease;
}




/******** add project modal end ********/

/******** modals end ********/

/*footer begin*/

.footer {
  width: 100%;
  background-color: #f9f9f9;
  min-height: 150px;
  bottom: 0;
  text-align: center;
  padding: 40px 0;
}


.footer-right a {
  margin: 10px;

}

/*footer end*/


/*timeline begin*/

#timeline .timeline-item:after, #timeline .timeline-item:before {
  content: '';
  display: block;
  width: 100%;
  clear: both;
}

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.timeline img {
  max-width: 100%;
}

.timeline a {
  text-decoration: none;
}

.Timelinecontainer {
  max-width: 70%;
  margin: 0 auto;
}

.timeline  h3 {
  font-family: "Dosis", arial, tahoma, verdana;
  font-weight: 500;
}

#timeline {
  width: 100%;
  margin: 30px auto;
  position: relative;
  padding: 0 10px;
}
#timeline:before {
  content: "";
  width: 3px;
  height: 100%;
  background: #008C95;
  left: 50%;
  top: 0;
  position: absolute;
}
#timeline:after {
  content: "";
  clear: both;
  display: table;
  width: 100%;
}
#timeline .timeline-item {
  margin-bottom: 50px;
  position: relative;
}
#timeline .timeline-item .timeline-icon {
  background: #008C95;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  left: 50%;
  overflow: hidden;
  margin-left: -13px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
#timeline .timeline-item .timeline-icon svg {
  position: relative;
  top: 14px;
  left: 14px;
}
#timeline .timeline-item .timeline-content {
  width: 45%;
  background: #fff;
  padding: 20px;
  -webkit-box-shadow:  3px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
#timeline .timeline-item .timeline-content h3 {
  padding: 15px;
  background: #008C95;
  color: #fff;
  margin: -20px -20px 0 -20px;
  font-weight: 300;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -ms-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
#timeline .timeline-item .timeline-content:before {
  content: '';
  position: absolute;
  left: 45%;
  top: 20px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid #008C95;
}
#timeline .timeline-item .timeline-content.right {
  float: right;
}
#timeline .timeline-item .timeline-content.right:before {
  content: '';
  right: 45%;
  left: inherit;
  border-left: 0;
  border-right: 7px solid #008C95;
}
.timeline .date {
  float:right;
  color: #008C95;
  font-size: 0.8em;
  font-style: italic;
  margin:0;

}

.timeline p{
  margin-top: 10px;

}


@media screen and (max-width: 768px) {
  #timeline {
    margin: 30px;
    padding: 0px;
    width: 90%;
  }
  #timeline:before {
    left: 0;
  }
  #timeline .timeline-item .timeline-content {
    width: 90%;
    float: right;
  }
  #timeline .timeline-item .timeline-content:before, #timeline .timeline-item .timeline-content.right:before {
    left: 10%;
    margin-left: -6px;
    border-left: 0;
    border-right: 7px solid #008C95;
  }
  #timeline .timeline-item .timeline-icon {
    left: 0;
  }
}


/*timeline end*/
