<div class="navigatie">
  <div class="row">

    <div class="col-sm-2 navControls">
      <ul>
        <li><img src="img/menu.png" alt="menu" class="nav-menu" /></li>
        <li><img src="img/A-logo.png" alt="A-logo" class="A-logo"/></li>
      </ul>
    </div>

    <div class="col-sm-8 title">
      <h1><span>IN</span>SPRAAK</h1>
    </div>

    <div class="col-sm-2 userControls">
      <ul>
        <li><h4>Login</h4></li>
        <li><h4>Registreer</h4></li>
        <li class="dropdown">
          <img class="dropdown-toggle placeholder" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" src="img/placeholder.png" alt="user" />
          <ul class="dropdown-menu">
            <li><a href="#">Profiel</a></li>
            <li><a href="#">Another action</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
