<ion-view  hide-nav-bar="true">
  <ion-content class="padding" scroll="false">
    <div class="loginBackground">

    <div class="login-page">
      <div class="loginLogo">
        <img src="./css/images/A-logo-trans.png" class="blur">
      </div>
      <div class="inlogTitle">

      </div>
      <div class="form">
        <h1>INSPRAAK</h1>
        <form class="register-form">
          <input name="voornaam" ng-model="firstName" class="inputName" type="text" placeholder="voornaam" required/>
          <input name="achternaam" ng-model="lastName" class="inputName" type="text" placeholder="achternaam" required/>
          <input name="password" ng-model="password" type="password" placeholder="paswoord"/>
          <input name="email" ng-model="email" type="text" placeholder="email"/>
          <button ng-click="user.register(firstname,lastname, email, password)">REGISTREER</button>
          <p class="message">Al geregistreerd? <a href="#" ng-click="formToggle()">Log in</a></p>
        </form>
        <form class="login-form">
          <input name="email" ng-model="email" type="email" placeholder="e-mail" required/>
          <input name="password" ng-model="password" type="password" placeholder="paswoord" required/>
      <button ng-click='user.login(email, password);'>login</button>
      <p class="message">Geen account? <a href="#" ng-click="formToggle()">Registreer nu</a></p>
    </form>
  </div>
  </div>
</div>
  </ion-content>
  </ion-view>
