<ion-view  hide-nav-bar="true">
  <ion-content class="padding" scroll="false">
    <div class="loginBackground">

    <div class="login-page">
      <div class="loginLogo">
        <img src="./css/images/A-logo-trans.png" class="blur">
      </div>
      <div class="inlogTitle">

      </div>
      <div class="form">
        <h1>INSPRAAK</h1>
        <form class="register-form">
          <input class="inputName" type="text" placeholder="voornaam"/>
          <input class="inputName" type="text" placeholder="achternaam"/>
          <input type="password" placeholder="paswoord"/>
          <input type="text" placeholder="email"/>
          <button>REGISTREER</button>
          <p class="message">Al geregistreerd? <a href="#" ng-click="formToggle()">Log in</a></p>
        </form>
        <form class="login-form">
          <input type="text" placeholder="e-mail"/>
          <input type="password" placeholder="paswoord"/>
      <button>login</button>
      <p class="message">Geen account? <a href="#" ng-click="formToggle()">Registreer nu</a></p>
    </form>
  </div>
  </div>
</div>
  </ion-content>
  </ion-view>
