<ion-modal-view>
        <ion-header-bar class="bar bar-header bar-positive bar-antwerpen">
          <h1 class="title">HELP</h1>
        </ion-header-bar>
        <ion-content class="padding" scroll="false">
          <div class = "row row-center responsive-sm swipeTutorialGrid">

            <div class = "col">
              <i class="icon ion-arrow-left-c"></i>
            </div>
            <div class = "col">
              <p>Swipe rechts als je wél akkoord gaat</p>
            </div>


            <div class = "col">
              <i class="icon ion-arrow-right-c"></i>
            </div>
            <div class = "col">
              <p>Swipe links als je niet akkoord gaat</p>
            </div>
          </div>


        </ion-content>
        <div class="fixed-button-bottom">
          <button class="button button-block button-positive button-antwerpen" ng-click="modal.hide();">
            Begrepen!
          </button>
        </div>




</ion-modal-view>
