<ion-view hide-back-button="true" view-title="Projecten">
  <ion-nav-bar>
    <ion-nav-title>
        Projecten
    </ion-nav-title>
</ion-nav-bar>
  <ion-content ng-controller="ImageCtrl as images" class="has-header main-content">
    <div class="projectCard" ng-repeat="project in projects">
    <a class="projectCard" href="#/main/project/{{project.id}}">
    <div class="list card projectCard" >
      <div class="item item-avatar">

          <img src="./css/images/A-logo.png" href="#/main/project/{{project.id}}">

          <h2>{{project.name}}</h2>

          <p>{{project.created_at}}</p>

      </div>

      <div class="item item-body" ng-init="images.getfirstbyid(project.id)">

          <img ng-hide="images.firstonebyid[project.id]" class="full-image" src="http://placehold.it/500x500">
          <img ng-show="images.firstonebyid[project.id]" class="full-image" src="{{images.firstonebyid[project.id]}}">

          <div class="row">
            <div class="col">
              <h4><span class="sun-bold-font">Locatie:</span> <span>{{project.location}}</span></h4>
            </div>
            <div class="col">
              <h4><span class="sun-bold-font">Categorie:</span> <span>{{project.category}}</span></h4>
            </div>
          </div>
          <p>




          </p>

      </div>
    </div>
  </div>
      <!--
      <div class="item projectCard-button">
        <a href="#/main/project/{{project.id}}">
        <button class="button button-block button-positive button-antwerpen">
          Inspraak
        </button>
      </a>
      </div>
    </a>

      <div class="item tabs tabs-secondary tabs-icon-left">

          <a class="tab-item" href="#">

              <i class="icon ion-heart"></i> Like

          </a>

          <a class="tab-item" href="#">

              <i class="icon ion-chatbox"></i> Comment

          </a>

          <a class="tab-item" href="#">

              <i class="icon ion-share"></i> Share

          </a>

      </div>



    </div>
  </div>

  <ion-list>
        <ion-item collection-repeat="project in projects" class="item-text-wrap" href="#/main/project/{{project.id}}">
           <h3>{{ project.category }}</h3><br>
           {{ project.location }}<br>
           {{ project.enddate }}<br>

        </ion-item>
    </ion-list>
    <button class="button" ng-click="toIntro()">Do Tutorial Again</button>-->

  </ion-content>
</ion-view>
