<ion-view>
  <ion-nav-title>
      Project: {{projectDetail.id}}
  </ion-nav-title>
  <ion-nav-buttons side="primary">
        <button class="button-clear navbuttonarrow" ng-click="toMain()">
          <i class="icon ion-ios-arrow-back"></i>
        </button>
    </ion-nav-buttons>

  <ion-content ng-controller="ImageCtrl as images">
    <div ng-init="images.getfirstbyid(projectId)">
      <img ng-hide="images.firstonebyid[projectId]" class="full-image" src="http://placehold.it/500x500">
      <img ng-show="images.firstonebyid[projectId]" class="full-image" src="{{images.firstonebyid[projectId]}}">
    </div>
    <div class="padding-10px projectDetail-info">
      <h4>{{projectDetail.name}}</h4>
      <div class="descriptioncard">
        <div class="row">

        </div>
      <div class="row">
        <div class="col">{{projectDetail.description}}</div>
      </div>
      <div class="row title">
        <div class="col AntwerpenFont">Locatie</div>
        <div class="col AntwerpenFont">Categorie</div>
      </div>
      <div class="row">
        <div class="col">{{projectDetail.location}}</div>
        <div class="col">{{projectDetail.category}}</div>
      </div>
    </div>
    <a href="#/main/project/tinder/{{projectId}}">
    <button  type="button" name="button">STEMMEN</button>
    </a>
    </div>


  </ion-content>
</ion-view>
