
/* Antwerpen Regular - HOOFDTITELS */
font-face {
  font-family: "Antwerpen";
  src: url("fonts/Antwerpen-Regular.eot?v=2.0.1");
  src: url("fonts/Antwerpen-Regular.eot?v=2.0.1#iefix") format("embedded-opentype"), url("fonts/Antwerpen-Regular.ttf?v=2.0.1") format("truetype"), url("fonts/Antwerpen-Regular.woff?v=2.0.1") format("woff"), url("fonts/Antwerpen-Regular.woff") format("woff"), url("fonts/Antwerpen-Regular?v=2.0.1#Ionicons") format("svg");
  font-weight: normal;
  font-style: normal; 
}

/* Antwerpen SUN - INFORMATIE */
font-face {
  font-family: "SunAntwerpen Regular";
  src: url("fonts/SunAntwerpen_500.eot?v=2.0.1");
  src: url("fonts/SunAntwerpen_500.eot?v=2.0.1#iefix") format("embedded-opentype"), url("fonts/SunAntwerpen_500.ttf?v=2.0.1") format("truetype"), url("fonts/SunAntwerpen_500.woff?v=2.0.1") format("woff"), url("fonts/SunAntwerpen_500.woff") format("woff"), url("fonts/SunAntwerpen_500?v=2.0.1#Ionicons") format("svg");
  font-weight: normal;
  font-style: normal; 
}


.title {
    font-family: "Antwerpen" !important;
    text-transform: uppercase;
}

h2 {
    font-family: "SunAntwerpen" !important;
    
}

body {
    font-family: "Arial" !important;
    
}


